doctype html
html
	head
		title Search Result
		link(rel="stylesheet",type="text/css",href="style.css")
		link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
	body
		nav
			.logo @Bangkok
			form.searchbar(method="GET",action="search")
				input(type="text",placeholder="Filter ...",name="search")
				button(type="submit") Filter
			br
		.result
			-
				var data = [
					{
						profile: 'img/cherprang.jpg',
						owner: 'Paperplane0365',
						title: 'ทริปสักอย่าง',
						rating: 50,
						route_img: 'img/route1.jpg'
					},
					{
						profile: 'img/jennis.jpeg',
						owner: 'lol',
						title: 'ทริปสักอย่าง2',
						rating: 90,
						route_img: 'img/route2.jpg'
					},
					{
						profile: 'img/pun.jpg',
						owner: 'ergjkvjtrherglb',
						title: 'ทริปสักอย่าง3',
						rating: 30,
						route_img: 'img/route3.jpg'
					},
				];
			each i in data
				.item
					.inside
						.top
							.profile-pic(style="background-image:url('"+i.profile+"')")
							.right
								.owner= i.owner
								.title
									.overlay-btm= i.title
									.overlay-top= i.title
						.rating
							.overlay-btm ★★★★★
							.overlay-top(style="width:"+i.rating+"%") ★★★★★
					.route(style="background-image:url('"+i.route_img+"')")
