* {
  box-sizing: border-box;
}
h2{
  white-space: nowrap;
  padding-right: 10px;
}
.example{
  margin: auto;
  display: flex;
  width: 700px;
}
/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  width: 100%;
  background: #f1f1f1;;
  flex-grow: 1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 100px;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

.row{
  display: flex;
  flex-direction: row; 
}
img{
  height: 150px;
  width: 130px;
}
.checked{
  color: gold;
}
.side {
   display:inline-block;
}
.column{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.star{
  padding-left: 25px; 
}

.rating-static {
  width: 60px;
  height: 16px;
  display: block;
  background: url("star-rating.png") 0 0 no-repeat;
}
.rating-50 { background-position: 0 0; }
.rating-40 { background-position: -12px 0; } 
.rating-30 { background-position: -24px 0; }
.rating-20 { background-position: -36px 0; }
.rating-10 { background-position: -48px 0; }
.rating-0 { background-position: -60px 0; }
 
.rating-5  { background-position: -48px -16px; }
.rating-15 { background-position: -36px -16px; }
.rating-25 { background-position: -24px -16px; }
.rating-35 { background-position: -12px -16px; }
.rating-45 { background-position: 0 -16px; }