p{
	text-align: center;
	font-family: "Montserrat";
	font-size: 30px;
}
img.tiger{
	width: 400px;
	height: 380px;
	padding: 50px 10px 0px 20px;
}
img.map{
	width: 400px;
	height: 300px;
	padding: 50px 10px 0px 20px;
}
.column{
	padding-left: 30px;
}
.container {
	max-width: 800px !important;
}
table {
	margin-bottom:0 !important;
}
#nav .back{
	color: #AAA;
	font-size: 2em;
	line-height: 1.5rem;
	display: inline-block;
	padding-right: 1rem;
}