//- doctype html
//- html
//- 	head
//- 		title Detail
//- 	body
//- 		nav(class = "navbar navbar-light bg-light")
//- 			a(class="navbar-brand",href="#")
//- 				img(src="img/logo.png",width="120",height="30",class="d-inline-block align-top",alt="")
//- 		.column
//- 			p Itinerary
//- 			table.table
//- 				tr.bg-danger
//- 					th(scope="col") Time
//- 					th(scope="col") Location
//- 				tbody
//- 					tr
//- 						th(scope="row") 8.00
//- 						td BTS National stadium
//- 					tr
//- 						th(scope="row") 9.00
//- 						td Tiger god shrine
//- 					tr
//- 						th(scope="row") 9.30
//- 						td The giant swing
//- 					tr
//- 						th(scope="row") 9.45
//- 						td Wat Suthat Thepwararam
//- 					tr
//- 						th(scope="row") 10.45
//- 						td Bangkok city pillar shrine
//- 					tr
//- 						th(scope="row") 11.00
//- 						td Wat Phra Kaew
//- 					tr
//- 						th(scope="row") 12.00
//- 						td PadThai Thachang
//- 					tr
//- 						th(scope="row") 13.00
//- 						td Maharaj pier
//- 					tr
//- 						th(scope="row") 14.00
//- 						td Thammasat university
//- 					tr
//- 						th(scope="row") 14.30
//- 						td National museum Bangkok
doctype html
html
	head
		title Detail
		link(rel="stylesheet",type="text/css",href="/css/style2.css")
		link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm",crossorigin="anonymous")
		link(href="https://fonts.googleapis.com/css?family=Montserrat",rel="stylesheet")
	body
		nav.navbar.navbar-light.bg-light
			a.navbar-brand(href="/search")
				img.d-inline-block.align-top(src="/img/Logo.svg",width="120",height="30")
		.container
			.row
				.column
					.row
						img.map(src="/img/route1.jpg")
					.row
						img.tiger(src ="/img/tiger_god_shrine.jpg")
				.column
					p#itinerary Itinerary
					table.table
						tr.bg-danger
							th(scope="col") Time
							th(scope="col") Location
							th(scope="col") 
						tbody
							tr
								th(scope="row") 8.00
								td BTS National stadium
								td
									button Edit!
							tr.table-danger
								th(scope="row") 9.00
								td Tiger god shrine
								td
									button Edit!
							tr
								th(scope="row") 9.30
								td The giant stadium
								td
									button Edit!
							tr
								th(scope="row") 9.45
								td Wat Suthat Thepwararam
								td
									button Edit!
							tr
								th(scope="row") 10.45
								td Bangkok city pillar shrine
								td
									button Edit!
							tr
								th(scope="row") 11.00
								td Wat Phra Kaew
								td
									button Edit!
							tr
								th(scope="row") 12.00
								td PadThai Thachang
								td
									button Edit!
							tr
								th(scope="row") 13.00
								td Maharaj pier
								td
									button Edit!
							tr
								th(scope="row") 14.00
								td Thammasat university
								td
									button Edit!
							tr
								th(scope="row") 14.30
								td National museum Bangkok
								td
									button Edit!
					.add
						button Add place
						button Finish