doctype html
html
	head
		title= Detail
		link(rel="stylesheet",type="text/css",href="style2.css")
		link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm",crossorigin="anonymous")
	body
		nav(class = "navbar navbar-light bg-light")
			a(class="navbar-brand",href="#")
				img(src="img/logo.png",width="120",height="30",class="d-inline-block align-top",alt="")
		.column
			p Itinerary
			table.table
				tr.bg-danger
					th(scope="col") Time
					th(scope="col") Location
				tbody
					tr
						th(scope="row") 8.00
						td BTS National stadium
					tr
						th(scope="row") 9.00
						td Tiger god shrine
					tr
						th(scope="row") 9.30
						td The giant swing
					tr
						th(scope="row") 9.45
						td Wat Suthat Thepwararam
					tr
						th(scope="row") 10.45
						td Bangkok city pillar shrine
					tr
						th(scope="row") 11.00
						td Wat Phra Kaew
					tr
						th(scope="row") 12.00
						td PadThai Thachang
					tr
						th(scope="row") 13.00
						td Maharaj pier
					tr
						th(scope="row") 14.00
						td Thammasat university
					tr
						th(scope="row") 14.30
						td National museum Bangkok

