doctype html
html
	head
		title Detail
		link(rel="stylesheet",type="text/css",href="/css/style2.css")
		link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm",crossorigin="anonymous")
		link(href="https://fonts.googleapis.com/css?family=Montserrat",rel="stylesheet")
	body
		nav#nav.navbar.navbar-light.bg-light
			a.navbar-brand(href="javascript:history.back()")
				.back &lt;
				img.d-inline-block.align-top(src="/img/Logo.svg",width="120",height="30")
			.title เที่ยวสนามหลวง
		.container
			.row
				.column
					.row
						img.map(src="/img/route1.jpg")
					.row
						img.tiger(src ="/img/tiger_god_shrine.jpg")
				.column.col2
					p#itinerary Itinerary
					table.table
						tr.bg-danger
							th(scope="col") Time
							th(scope="col") Location
							th(scope="col") 
						tbody
							tr
								th(scope="row") 8.00
								td
									.location-type สถานที่นัดพบ
									.location Bts National Stadium
									.description 
								td.btntd
									button.btn.btn-outline-danger Edit!
							tr
								th(scope="row") 9.00
								td
									.location-type วัด/สถานที่ศักสิทธิ์
									.location Tiger God Shrine
									.description ไหว้พระขอพร ศักดิ์สิทธิ์ มากๆ ปล.ต้องจุดธูป 17 ดอกนะจ้ะ
								td.btntd
									button.btn.btn-outline-danger Edit!
							tr
								th(scope="row") 9.30
								td
									.location-type สถานที่ถ่ายรูป
									.location The Giant Swing
									.description ตอนเช้าต้องไปถ่ายฝั่งด้านหลังของเสา เพื่อให้ได้รูปที่ไม่ย้อนแสง อย่าลืมแว่นกันแดดนะครับ
								td.btntd
									button.btn.btn-outline-danger Edit!
							tr
								th(scope="row") 9.45
								td
									.location-type วัด/สถานที่ศักสิทธิ์
									.location Wat Suthat Thepwararam
									.description 
								td.btntd
									button.btn.btn-outline-danger Edit!
							tr
								th(scope="row") 10.45
								td
									.location-type วัด/สถานที่ศักสิทธิ์
									.location Bangkok City Pillar Shrine
									.description 
								td.btntd
									button.btn.btn-outline-danger Edit!
							tr
								th(scope="row") 11.00
								td
									.location-type วัด/สถานที่ศักสิทธิ์
									.location Wat Phra Kaew
									.description สักการะพระแก้วมรกต และจิตกรรมฝาผนังเรื่องรามเกียรติ์
								td.btntd
									button.btn.btn-outline-danger Edit!
							tr
								th(scope="row") 12.00
								td
									.location-type ร้านอาหาร:ไทย
									.location Padthai Thachang
									.description ก็ต้องสั่งผัดไทยสิ ถ้าไม่แพ้กุ้งก็ต้องผัดไทยกุ้งสด พร้อมกับน้ำอัดลม หรือน้ำกระเจี๊ยบคลายร้อน
								td.btntd
									button.btn.btn-outline-danger Edit!
							tr
								th(scope="row") 13.00
								td
									.location-type สถานที่ซื้อของ/ถ่ายรูป/ยอดนิยม
									.location Maharaj Pier
									.description ต้องลองกินไอศกรีม และกาแฟสด เจ้โจว
								td.btntd
									button.btn.btn-outline-danger Edit!
							tr
								th(scope="row") 14.00
								td
									.location-type โรงเรียน/สถานศึกษา/แหล่งเรียนรู้
									.location Thammasat University
									.description ถ่ายรูปกับสัญลักษณ์ของมหาลัยคือโดม และรับลมบรรยากาศเย็นสบายจากแม่น้ำเจ้าพระยา
								td.btntd
									button.btn.btn-outline-danger Edit!
							tr
								th(scope="row") 14.30
								td
									.location-type โรงเรียน/สถานศึกษา/แหล่งเรียนรู้
									.location National Museum Bangkok
									.description จัดแสดงของโบราณของไทย ศาสนาพุทธ และพราหมฮินดู ปิด 16.00 นะจ้ะ รีบไป ถ้ามีบัตรนักเรียน หรือเป็นผู้สูงอายุ เข้าฟรี
								td.btntd
									button.btn.btn-outline-danger Edit!
					.add
						button.btn.btn-danger Add place
						button.btn.btn-danger Finish