doctype html
html
	head
		title iCanGO
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		link(rel="stylesheet",type="text/css",href="css/style.css")
	body
		.allcenter
			div
				.head
				br
				form.searchbar(method="GET",action="search")
					input(type="text",placeholder="Where to go?",name="q")
					button(type="submit")
						.fa.fa-search
